// ### Primary

$red: hsl(1, 90%, 64%);
$blue: hsl(219, 85%, 26%);

// ### Neutral

$white: hsl(0, 0%, 100%);

$mainBgColor: hsl(210, 60%, 98%);
$notigicationBgColor: hsl(211, 68%, 94%);
$msgBgColorHover: hsl(205, 33%, 90%);

$dateTextColor: hsl(219, 14%, 63%);
$textColor: hsl(219, 12%, 42%);
$userNameColor: hsl(224, 21%, 14%);